

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,100;1,200;1,500&display=swap');
            
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #D3D3D3 !important;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p, tr, td, button, span, label, img {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */      
}

body, html, .login_form {
height: 100vh;
min-height: fit-content;
margin-top: 40px;
padding: 0;
margin: 0;
}

body {
background: #262626 !important;
}

.title {
    color: #C4D21C;
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 2em;
}

a {
    cursor: pointer !important;
}

.login_form {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-flex: center;
-moz-box-flex: center;
-webkit-flex: center;
-ms-flex: center;
flex: center;
-webkit-justify-content: center;
-moz-justify-content: center;
justify-content: center;
-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-align-items: center;
align-items: center;
}

.login-wrapper {
max-width: 500px;
width: 100vw;
}

.logo {
text-align: center;
}
.logo img {
max-width: 80%;
width: 100vw;;
margin: 1em auto 2em;
}

form {
background: rgba(0, 0, 0, 0.42);
padding: 2em 1em;
font-family: helvetica, sans-serif;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
form label {
color: rgb(126, 126, 126);
margin: 0 3% 0.25em;
display: block;
font-size: larger;
}
form input {
width: 94%;
padding: 0.7em 0.25em;
margin: 0 3% 1em;
font-size: 1.1em;
border-radius: 8px;
border: none;
outline: none;
background-color: #262626;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
-ms-transition: all 0.25s;
-o-transition: all 0.25s;
transition: all 0.25s;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: white;
padding-left: 20px;
}
form input.password {
padding-right: 4rem;
}
form input:focus {
border: 2px solid #A2BB13;
}
form button {
width: 94%;
margin: 2em 3% 0;
border: none;
background: #A2BB13;
padding: 1em 0;
font-size: 1.25em;
clear: both;
color: #000 !important;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
outline: none;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
-ms-transition: all 0.25s;
-o-transition: all 0.25s;
transition: all 0.25s;
cursor: pointer;
}

.hide-show {
width: 94%;
margin: -4em 3% 0 1.5%;
position: relative;
z-index: 5;
display: none;
}
.hide-show span {
background: #A2BB13;
font-size: 1em;
padding: 0.5em;
float: right;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
cursor: pointer;
color: black !important;
}
form button:focus, form button:hover, .hide-show span:focus, .hide-show span:hover, .hide-show:focus, .hide-show:hover  {
    background-color: #C4D21C;
    background: #C4D21C;
    transition: .2s ease-in-out;
}
form button:active, .hide-show:active, .hide-show span:active {
    background-color: #EBFF00;
    background: #EBFF00;
    color: white;
}

.nwsp {
    white-space: nowrap;
}

tr, td, th {
    padding: 8px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 15px;
}

thead {
    text-align: center;
    background-color: black;
    border: #3B3C3D 2px solid;
}

th {
    background-color: #161616;
    text-transform: uppercase;
    font-weight: 700;
}

table{
    border: #3B3C3D 2px solid;
    font-weight: 300;
    background-color: #2A2B2B;
    text-align: center;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

table tr:nth-child(even) {
    background-color: #191D1E;
}

table td:first-child {
    font-weight: 500;
    color: white;
    background-color: #1B1D1D;
    text-align: left;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

.subtitle-row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #1B1D1D !important;
    padding-left: 40px !important;
    color: #C4D21C !important;
    font-weight: 90;
    font-size: 18px;
}

.container {
    min-width: fit-content;
    position: relative;
    width: 90%;
    margin: auto;
    max-width: 800px;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-bottom: 90px;
}

footer {
    width: 100vw;
    background-color: #1B1D1D;
    text-align: center;
    display:flex;
    justify-self: center;
    min-height: fit-content;
    box-sizing: border-box;
    bottom: 0px;
}

.footer {
    text-align: center;
    width: 100vw;
    font-size: 14px;
    font-weight: 300;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}