

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,500;0,700;0,900;1,100;1,200;1,500&display=swap');
            
*, *:before, *:after {
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
color: #D3D3D3 !important;
padding: 0px;
margin: 0px;
box-sizing: border-box;
}

.hidden {
    display: none;
}

.alert {
    color: #FF404D !important;
    font-weight: 500;
}

.alertwhite {
    font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, tr, td, button, span, label, img {
    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */      
}

body, html, .login_form {
height: 100vh;
min-height: fit-content;
margin-top: 40px;
padding: 0;
margin: 0;
}

body {
background: #262626 !important;
}

.title {
    color: #C4D21C;
    padding-left: 15px;
    margin-bottom: 5px;
    font-weight: 500;
    font-size: 2em;
}

a {
    cursor: pointer !important;
}

.module-title {
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin-top: -30px;
    padding-bottom: 30px;
}

.login_form {
display: -webkit-box;
display: -moz-box;
display: -ms-flexbox;
display: -webkit-flex;
display: flex;
-webkit-box-flex: center;
-moz-box-flex: center;
-webkit-flex: center;
-ms-flex: center;
flex: center;
flex-direction: column;
-webkit-justify-content: center;
-moz-justify-content: center;
justify-content: center;
-webkit-box-pack: center;
-moz-box-pack: center;
-ms-flex-pack: center;
-webkit-align-items: center;
align-items: center;
}

.login-wrapper {
max-width: 500px;
width: 100vw;
}

.mbpx-50 {
    margin-bottom: 50px;
}

#signup, #login-password-reset-module, #login-support-module {
    max-width: 500px;
}

.forgot-password:hover {
    cursor: pointer;
}

.login-module {
    text-align: center;
}

label {
    text-align: left !important;
}


/*======================= Slider CSS (Add to Sakura) ================================*/

.toggle {
    margin-top: 15px;
    display: inline-flex;
    justify-content: center;
}

label.rememberMe {
    text-align: right !important;
    width: 330px;
    line-height: 34px;
    padding-right: 25px;
    white-space: nowrap;
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px !important;
    height: 34px;
    cursor: pointer;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    cursor: pointer;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: radial-gradient(#ffffff, #b1b1b1);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    cursor: pointer;
    transition: .4s;
    z-index: 1;
    box-shadow: 0px 4px 4px rgba(0,0,0,40%);
  }
  
  input:checked + .slider {
    background: radial-gradient(#e1ff1d, #79b305) !important;
    cursor: pointer;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #90c700;
    cursor: pointer;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
    cursor: pointer;
  }

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
    cursor: pointer;
}
  
.slider.round:before {
    border-radius: 50%;
    cursor: pointer;
}




.col {
    display: block;
    margin: 0 auto;
    font-size: 22px !important;
}

.col:last-child {
    margin-bottom: -10px;
    text-align: center;
}

.button {
    font-size: 17px;
    font-weight: 500;
    padding: 20px;
}

.bottom-right {
    position: absolute;
    bottom: 20px;
    right: 25px;
}

.logo {
text-align: center;
}
.logo img {
max-width: 80%;
width: 100vw;;
margin: 1em auto 2em;
}

form {
background: rgba(0, 0, 0, 0.42);
padding: 2em;
font-family: helvetica, sans-serif;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
position: relative;
padding-bottom: 40px;
}

form.addProject, form.deleteProject, form.editProject {
    min-width: 500px;
}

form label {
color: rgb(126, 126, 126);
margin: 0 3% 0.25em;
display: block;
font-size: larger;
}
form input {
width: 94%;
padding: 0.7em 0.25em;
margin: 0 3% 1em;
font-size: 1.1em;
border-radius: 8px;
border: 2px solid transparent;
outline: none;
background-color: #262626;
-webkit-transition: all 0.25s;
-moz-transition: all 0.25s;
-ms-transition: all 0.25s;
-o-transition: all 0.25s;
transition: all 0.25s;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
color: white;
padding-left: 60px;
}
form input.password {
padding-right: 4rem;
}
form input:focus {
border: 2px solid #A2BB13;
}

.no-icon {
    padding-left: 20px !important;
}

textarea {
    background-color: rgba(255, 255, 255, 0.05);
    max-height: 160px;
    color: white;
    border: 2px solid transparent;
    outline: none !important;
    resize: none;
    border-radius: 5px;
    width: 94%;
    padding: 20px 20px 5px 20px;
    margin: 0 3% 1em;
    padding-left: 20px;
    font-size: 16px;
}

textarea:focus {
    border: 2px solid #A2BB13;
}

form button {
    width: 94%;
    margin: 1em 3% 0;
    border: none;
    background: #A2BB13;
    padding: .5em 0;
    font-size: 1.25em;
    clear: both;
    color: #000 !important;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    outline: none;
    -webkit-transition: all 0.25s;
    -moz-transition: all 0.25s;
    -ms-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

div.input svg {
    font-size: 30px;
    position: absolute;
    line-height: 30px;
    height: 35px;
    width: 35px;
    margin-left: -410px;
    margin-top: 8px;
    vertical-align: center;
    align-self: start;
    opacity: 20%;
    z-index: 0;
}

.customer-info-title {
    font-size: 23px;
    padding-left: 11px;
}

.hide-show {
    width: 94%;
    margin: -4em 3% 0 1.5%;
    position: relative;
    z-index: 5;
    display: none;
}
.hide-show span {
    background: #A2BB13;
    font-size: 1em;
    padding: 0.5em;
    float: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    cursor: pointer;
    color: black !important;
}

.button-link {
    cursor: pointer;
    color: rgb(63, 63, 63) !important;
}

.button-link-bright {
    color: rgb(159, 159, 159) !important;
}

.button-link:focus, .button-link:hover {
    color: white !important;
}

form button:focus, form button:hover, .hide-show span:focus, .hide-show span:hover, .hide-show:focus, .hide-show:hover  {
    background-color: #C4D21C;
    background: #C4D21C;
    transition: .2s ease-in-out;
}
form button:active, .hide-show:active, .hide-show span:active {
    background-color: #EBFF00;
    background: #EBFF00;
    color: white !important;
}

form button.button-link {
    padding:  15px 0 15px 20px;
    text-align: center;
    margin: auto;
    background-color: unset;
    color: white !important;
}

form button.button-link:focus, form button.button-link:hover {
    background-color: unset;
    background: unset;
    text-decoration: underline;
}

form button.button-link:active{
    color: rgb(23, 23, 23) !important;
}

.nwsp {
    white-space: nowrap;
}

tr, td, th {
    padding: 8px;
    padding-top: 16px !important;
    padding-bottom: 16px !important;
    font-size: 15px;
}

thead {
    text-align: center;
    background-color: black;
    border: #3B3C3D 2px solid;
}

th {
    background-color: #161616;
    text-transform: uppercase;
    font-weight: 700;
}

table{
    border: #3B3C3D 2px solid;
    font-weight: 300;
    background-color: #2A2B2B;
    text-align: center;
    box-shadow: 
        0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048),
        0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 22.3px 17.9px rgba(0, 0, 0, 0.072),
        0 41.8px 33.4px rgba(0, 0, 0, 0.086),
        0 100px 80px rgba(0, 0, 0, 0.12);
}

table tr:nth-child(even) {
    background-color: #191D1E;
}

table td:first-child {
    font-weight: 500;
    color: white;
    background-color: #1B1D1D;
    text-align: left;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
    border-radius: 4px 0 0 0;
}
thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
    border-radius: 0 0 0 4px;
}

.subtitle-row {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    background-color: #1B1D1D !important;
    padding-left: 40px !important;
    color: #C4D21C !important;
    font-weight: 90;
    font-size: 18px;
}

.container {
    min-width: fit-content;
    position: relative;
    width: 90%;
    margin: auto;
    max-width: 800px;
    align-items: center;
    display: flex;
    justify-self: center;
    flex-direction: column;
    padding-bottom: 90px;
}

section {
    margin-bottom: 40px;
}

.module-wrapper .input-form p.description {
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}


#support-link {
    text-decoration: underline; 
    cursor: pointer;
}

#support-link:hover {
    color: white;
}

i {
    height: fit-content;
    text-align: end;
    justify-self: end;
}



footer {
    width: 100vw;
    background-color: #1B1D1D;
    text-align: center;
    display:flex;
    justify-self: center;
    min-height: fit-content;
    box-sizing: border-box;
    bottom: 0px;
}

.footer {
    text-align: center;
    width: 100vw;
    font-size: 14px;
    font-weight: 300;
    height: 80px;
    line-height: 80px;
    vertical-align: middle;
}

.grey {
    color: rgb(69, 69, 69) !important;
    font-weight: 500 !important;
}


/* The container must be positioned relative: */
.custom-select {
    position: relative;
    font-size: 19px;
    font-weight: 500;
    width: 90%;
    margin: 0 auto;
  }
  
  .custom-select select {
    display: none; /*hide original SELECT element: */
  }
  
  .select-selected {
    background-color: #3f3f3f;
    color: #ffffff !important;
  }
  
  /* Style the arrow inside the select element: */
  .select-selected:after {
    position: absolute;
    content: "";
    top: 20px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
  }
  
  /* Point the arrow upwards when the select box is open (active): */
  .select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 12px;
  }
  
  /* style the items (options), including the selected item: */
  .select-items div,.select-selected {
    color: #000000;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
  }
  
  /* Style items (options): */
  .select-items {
    position: absolute;
    background-color: #262626;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
  }
  
  /* Hide the items when the select box is closed: */
  .select-hide {
    display: none;
  }
  
  .select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .project-status-title {
      text-align: center;
      padding-left: unset;
  }

.project-status-title, 
#statusDisplay {
    font-size: 25px;
}

#logout {
    color: black !important;
}

#logout:hover {
    background-color: rgb(65, 65, 65) !important;
    color: white !important;
}
 
